<!DOCTYPE html>
<html lang=en>
<head>
    <title>{{ package.title }} - Voyages organisés Maroc | TravelScanner</title>
    <meta name="author" content="TravelScanner">
    <meta name="copyright" content="TravelScanner">
    <meta name="robots" content="index, follow">
    <script type="application/ld+json">
       {"@context":"http://schema.org/","@type":"TravelAgency","name":"Voyages organisés au Maroc|TravelScanner","image":"https://www.voyagesorganisemaroc.com/logos/bg.webp","priceRange":"800 MAD","url":"https://www.voyagesorganisemaroc.com","address":{"@type":"PostalAddress","streetAddress":"","addressLocality":"Casablanca","addressRegion":"","addressCountry":"Morocco"},"openingHoursSpecification":[{"@type":"OpeningHoursSpecification","dayOfWeek":["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"],"opens":"00:00","closes":"23:59"}]}
    </script>
    <script>{{ product_structured_data }}</script>

    <link rel="icon" type="image/webp" href="/favicon.webp">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-language" content="en">
    <meta property="og:type" content="website">
    <meta name="description" content="Voyages organisés au Maroc. {{ package.short_description }}">

    <meta name="keywords"
          content="{{ package.short_description }}Voyage organisé, Voyage organisé maroc, travel morocco, travel, voyage, Tours organisés, Maroc, Trekking, Rafting, Spéléologie, Voyage d'aventure, Toubkal, Akchour, Ait Bouguemez, Istanbul, Bali, Dubaï, Andalousie, Prague, Budapest, Vienne, Forfaits de voyage, Destinations internationales">

    <link rel="canonical" href="{{ url }}">
    <meta property="og:title" content="{{ package.title }} - Voyages organisés Maroc">
    <meta property="og:site_name" content="Voyages organisés Maroc">
    <meta property="og:description" content="Voyages organisés au Maroc. {{ package.short_description }}">
    <meta property="og:image" content="{{ package.image_full_url }}">
    <meta property="og:url" content="{{ url }}">

    <meta property="twitter:title" content="{{ package.title }} - Voyages organisés Maroc">
    <meta property="twitter:description" content="Voyages organisés au Maroc. {{ package.short_description }}">
    <meta property="twitter:card" content="{{ package.image_full_url }}">
    <meta property="twitter:image" content="{{ package.image_full_url }}">
    <meta property="twitter:url" content="{{ url }}">

    <meta property="facebook:title" content="{{ package.title }} - Voyages organisés Maroc">
    <meta property="facebook:description" content="Voyages organisés au Maroc. {{ package.short_description }}">
    <meta property="facebook:card" content="{{ package.image_full_url }}">
    <meta property="facebook:image" content="{{ package.image_full_url }}">
    <meta property="facebook:url" content="{{ url }}">


    <link rel="stylesheet" href="../style.css">
</head>
<body>

<header class="flex items-center h-20 bg-gray-800 text-white">
    <div class="flex items-center space-x-8 " style="padding-left:2em">
        <a class="text-lg font-medium" href="../index.html">
            &lt; Back to homepage
        </a>
    </div>
</header>

<div class="w-full">
    <div class="relative"><img src="{{ package.image_full_url }}" width="100%" style="height:300px"
                               alt="{{ package.title }}" class="w-full object-cover" style="object-fit: cover;">
        <div class="absolute inset-0 flex items-center justify-center flex-col gap-4"><h1
                style="text-shadow: 0 2px #00000073"
                class="text-3xl font-bold tracking-tighter text-white sm:text-5xl xl:text-6xl/none">
            {{ package.title }}
        </h1><a target="_blank"
                class="inline-flex h-10 items-center justify-center rounded-md bg-gray-900 px-8 text-sm font-medium text-gray-50 shadow transition-colors hover:bg-gray-900/90 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-gray-950 disabled:pointer-events-none disabled:opacity-50 dark:bg-gray-50 dark:text-gray-900 dark:hover:bg-gray-50/90 dark:focus-visible:ring-gray-300"
                href="{{ package.external_full_link }}">
            Book on the agency website
        </a></div>
    </div>

    <div class="container px-4 md:px-6"
         style="margin-left: auto;margin-right: auto;max-width: 900px;">
        <div class="flex flex-col justify-center space-y-4">
            <div class="space-y-2"
            >
                <h2 class="text-2xl py-3 font-bold tracking-tighter sm:text-3xl xl:text-5xl/none">
                    Travel plan
                </h2>
                <div class="desc_wrapper pb-6 gap-6 flex text-xl">
                    <style>
                        .desc_wrapper img {
                            margin-top: 1em;
                            margin-bottom: 1em;
                        }</style>
                    {{ package.html_description | safe }}

                </div>

            </div>
        </div>
    </div>
</div>
<div class="container mb-5 px-4 md:px-6"
     style="margin-left: auto;margin-right: auto;max-width: 900px;">
    <a target="_blank"
       class="inline-flex h-10 items-center justify-center rounded-md bg-gray-900 px-8 text-sm font-medium text-gray-50 shadow transition-colors hover:bg-gray-900/90 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-gray-950 disabled:pointer-events-none disabled:opacity-50 dark:bg-gray-50 dark:text-gray-900 dark:hover:bg-gray-50/90 dark:focus-visible:ring-gray-300"
       href="{{ package.external_full_link }}">
        Book on the agency website
    </a>
</div>
<div class="container px-4 mx-auto">
    <h2 class="py-2 text-3xl font-bold text-center sm:text-4xl">
        Similar Destinations
    </h2></div>
<div
        style="margin-left: auto;margin-right: auto;max-width: 1100px;"
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 p-4 md:p-6">
    {{ similar_packages_list | safe }}

</div>

<footer class="flex items-center justify-center h-20 bg-gray-800 text-white">
    <div class="flex items-center space-x-8">
        <a class="text-lg font-medium" href="mailto:contact@voyagesorganisemaroc.com">
            Contact Us
        </a>
    </div>
</footer>
<script async defer src="https://www.googletagmanager.com/gtag/js?id=G-Z5Q0J142KK"></script>
<script async defer src="../google-tag.js"></script>
<script async defer src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7826205063142570"
        crossorigin="anonymous"></script>
</body>
</html>